@import '../../../../../node_modules/antd/es/style/themes/default.less';
// to be resolved
// @import '~antd/dist/antd.less';
@import '../../../../../assets/styles/global.less';

.tableCustomPagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin: 8px 5px;
}

.tableCustomPaginationTotalItems {
  background-color: #F6F6F6;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 10px;
  margin-right: 30px;
}

