@import '../../../../../node_modules/antd/es/style/themes/default.less';
// to be resolved
// @import '~antd/dist/antd.less';
@import '../../../../../assets/styles/global.less';


.tableDate {
  font: @fuski-font-table-secondary;
  background-color: @fuski-color-app-panel-secondary;
  padding: @fuski-padding-component;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: @fuski-border-radius-component;
  letter-spacing: @fuski-font-text-condensed;
}
