@import '../../../../../node_modules/antd/es/style/themes/default.less';
// to be resolved
// @import '~antd/dist/antd.less';
@import '../../../../../assets/styles/global.less';


.tableDate {
  font-size: 0.9em;
  background-color: rgba(0,0,0,.07);
  padding: 4px 7px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
  letter-spacing: -0.5px;
}

.tabledateCalendar {
  padding-right: 4px;
}

