@import '../../../../../node_modules/antd/es/style/themes/default.less';
// to be resolved
// @import '~antd/dist/antd.less';
@import '../../../../../assets/styles/global.less';


.richModalTitle {
    width: 100%;
    cursor: move;
}

.richModalBody {
    padding-bottom: 80px;
}

.richModalFooter {
    text-align: right;
}

.richModalCloseButton {
    margin-right: 8px;
}